---
import "../styles/style.css";
import Card from "../components/Card.astro";
import Button from "../components/Button.astro";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<header></header>
		<main>
			<Button variant="primary" size="medium">TEXT</Button>
			<Button variant="secondray" size="medium">TEXT</Button>
			<h1>Astro</h1>
			<p>test</p>
			<Card header="hej A">
				<h3>lort</h3>
			</Card>
			<Card header="hej B" text="Lorem ipsum2"/>
		</main>
		<footer></footer>
		
	</body>
</html>
